.card {
	width: 80%;
	margin: 0 auto;
	padding: 1.3% 3%;
	background-color: #2a2e35;

	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;

	border-top: 1px solid #b3becc;
	transition: 0.22s ease-in-out;
}

.card:hover {
	background-color: #0d1011;
}

.card p {
	margin: 0;
	width: 15%;
	text-align: right;

	padding-left: 1%;
}

.coin-name {
	text-align: left !important;
	width: 16% !important;
}

.coin-name img {
	width: 18px;
	height: 18px;

	margin-right: 2%;
}

.coin-rank {
	text-align: left !important;
	width: 5% !important;
}

.green {
	color: #70e000 !important;
}

.red {
	color: #bf0603 !important;
}
